@import "./theme.scss";
@import "./animations.scss";

header.header {
    padding: 40px 0px;
    transition: all 0.5s ease 0s;

    @media (max-width: 762px) {
        padding: 20px 0px 0px;
    }

    nav {
        background: transparent !important;

        .navbar-brand {
            z-index: 20;

            .navbrand-logo {
                transition: all 1s;
                cursor: pointer;
            }
        }

        .navbar-toggler {
            z-index: 600;
            padding: 0;
            background-color: transparent;
            border: none;

            .navbar-toggler-icon {
                display: inline-block;
                width: 1.5em;
                height: 1.5em;
                vertical-align: middle;
                content: "";
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% 100%;
            }

            .toggler-icon {
                position: relative;
                display: block;
                width: 1.5em;
                height: 1.25em;
                cursor: pointer;

                div {
                    position: absolute;
                    width: 90%;
                    height: 2px;

                    &:nth-child(1) {
                        top: 10%;
                    }
                    &:nth-child(2) {
                        top: 50%;
                    }
                    &:nth-child(3) {
                        top: 90%;
                    }
                }
            }
        }

        .navbar-collapse {
            background: transparent;

            .container {
                justify-content: flex-end;

                .navbar-nav {
                    .nav-item {
                        display: inline-block;
                        vertical-align: middle;
                        transform: perspective(1px) translateZ(0px);
                        box-shadow: rgba(0, 0, 0, 0) 0px 0px 1px;
                        position: relative;
                        overflow: hidden;

                        &.hover_bottom {
                            display: inline-block;
                            vertical-align: middle;
                            transform: perspective(1px) translateZ(0px);
                            box-shadow: rgba(0, 0, 0, 0) 0px 0px 1px;
                            position: relative;
                            overflow: hidden;

                            &::before {
                                content: "";
                                position: absolute;
                                z-index: -1;
                                left: 51%;
                                right: 51%;
                                bottom: 1.5px;
                                height: 2px;
                                transition-property: left, right;
                                transition-duration: 0.3s;
                                transition-timing-function: ease-out;
                            }

                            &:hover::before {
                                left: 0px;
                                right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        nav {
            .navbar-toggler {
                transition: all 0.25s ease-in-out;
            }
            .navbar-collapse {
                position: fixed;
                backdrop-filter: blur(3px);
                width: 100vw;
                top: 0;
                left: 0;
                z-index: 10;
                transition: all 0.25s ease-in-out;

                &.show {
                    height: 100vh;
                    transition: all 0.25s ease-in-out;
                    z-index: 500;
                }

                .container {
                    justify-content: center;

                    .navbar-nav {
                        overflow: auto;
                        display: block !important;
                        margin-top: 120px;
                        padding: 0.5rem 1rem;
                        width: 100%;

                        .nav-item {
                            &.hover_bottom {
                                display: block;
                                text-align: center;
                                width: fit-content;
                                margin: 3rem auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include themify($themes) {
    .header {
        nav {
            .navbrand-logo {
                fill: themed("article-color");
            }
            .navbar-toggler {
                .navbar-toggler-icon {
                    filter: invert(themed("theme-amount"));
                }

                .toggler-icon {
                    div {
                        background-color: themed("article-color");
                    }
                }
            }

            .navbar-collapse {
                &.show {
                    background-color: themed("header-bg") !important;
                }
                .container {
                    .navbar-nav {
                        .nav-item {
                            &.hover_bottom {
                                &::before {
                                    background: themed("nav-link");
                                }
                            }
                            .nav-link {
                                color: themed("nav-link");

                                &.nav-svg {
                                    svg {
                                        fill: themed("nav-link");
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
