@import "./theme.scss";

.page-section {
    min-height: calc(61vh);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    h1.title {
        font-weight: 900;
        margin: 4rem 0rem 1.5rem;
        position: relative;
    }
}

.page-bg-title {
    h1 {
        font-family: "Abril FatFace";
        font-size: 29.42vmin;
        writing-mode: unset;
        letter-spacing: -0.3rem;
        white-space: pre;
        position: fixed;
        left: -4rem;
        opacity: 1;
        z-index: -1;
        bottom: 0px;
        transition: all 1s;
    }
}

@include themify($themes) {
    .page-section {
        h1.title {
            font-size: var("font-x-lg");
        }
    }
    .page-bg-title {
        h1 {
            color: themed("mark");
            transition: all 1s;
        }
    }
}
