$themes: (
    dark: (
        bg: #020a13,
        bg2: #001c3b,
        inverted: #fff,
        invert: 1,
        theme-amount: 1,
        cw: #e1e1e1,
        gray: #9e9e9c,
        pattern: transparent,
        light-gray: #444,
        lighter-gray: #222,
        article-color: #c6c6c6,
        header-bg: rgba(19, 20, 21, 0.5),
        token: #999,
        border-color: #14202b,
        button-index: #091521,
        mark: #080f18,
        sidebar-tag: #13283e,
        sidebar-cta: #3f566e,
        gray-alpha: #07121dd4,
        gray-dark: #343a40,
        nav-link: rgba(255, 255, 255, 0.8),
        timeline: #ffffff5e,
    ),
    light: (
        bg: #fffdfc,
        bg2: #fae2d7,
        bg-aplha: #020a13d4,
        inverted: #000,
        invert: 0,
        button-index: #f4f1ee,
        cw: #000,
        mark: #f9f7f6,
        theme-amount: 0,
        gray: #d6d6d6,
        pattern: #f8f7f7,
        light-gray: #dedede,
        lighter-gray: #f5f5f5,
        article-color: #545454,
        header-bg: rgba(255, 255, 255, 0.5),
        token: #666,
        border-color: #eaeaea,
        sidebar-tag: #efe9e4,
        gray-alpha: #f6f4f06b,
        gray-dark: #343a40,
        sidebar-cta: #0b0c15,
        nav-link: rgba(0, 0, 0, 0.5),
        timeline: #e0e0e0,
    ),
);

@media (min-width: 787px) {
    :root {
        --font-sm: 0.875em;
        --font-md: 1.124em;
        --font-x-md: 1.667em;
        --font-x-lg: 3.075em;
    }
}

@media (max-width: 787px) {
    :root {
        --font-sm: 0.813em;
        --font-md: 1.011em;
        --font-x-md: 1.517em;
        --font-x-lg: 2.775em;
    }
}

@mixin themify($themes) {
    @each $name, $values in $themes {
        .#{$name} {
            $theme-map: $values !global;
            @content;
        }
    }
}
@function themed($key) {
    @return map-get($theme-map, $key);
}
